<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<%= content_tag(:div, :class => "row") do -%>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= content_tag(:p, :class => "form") do -%>
      <h3><%= f.label :email %></h3>
      <%= f.text_field :email %>
    <% end -%>

    <%= content_tag(:p, :class => "form") do -%>
      <h3><%= f.label :password %></h3>
      <%= f.password_field :password %>
    <% end -%>

    <%= f.submit "ログイン", :class => "btn" %>
  <% end %>
<% end -%>

<p class="caption">登録がお済みでない方は <%= link_to "こちら", signup_path %> からどうぞ。</p>
