<% provide(:title, "Signin") %>
<h1>Signin</h1>

<div class="row">
  <%= form_tag sessions_path do |f| %>
    <p class="form">
      <h3><%= label_tag :email %></h3>
      <%= text_field_tag :email %>
    </p>

    <p class="form">
      <h3><%= label_tag :password %></h3>
      <%= password_field_tag :password %>
    </p>

    <%= submit_tag "Signin", class: "btn btn-large btn-primary" %>
  <% end %>

    <p>New user? <%= link_to "Sign up >", signup_path %></p>
</div>
