<% provide(:title, 'Signup') %>
<h1>Signup</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <p class="form">
        <h3><%= f.label :name %></h3>
        <%= f.text_field :name %>
      </p>

      <p class="form">
        <h3><%= f.label :email %></h3>
        <%= f.text_field :email %>
      </p>

      <p class="form">
        <h3><%= f.label :password %></h3>
        <%= f.password_field :password %>
      </p>

      <p class="form">
        <h3><%= f.label :password_confirmation, "Confirmation" %><h3>
        <%= f.password_field :password_confirmation %>
      </p>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
