<%= content_tag(:div, :class => "dashboard_wrapper") do -%>
  <% provide(:title, "ダッシュボード") %>
  <% if @photos.any? %>
      <% @photos.each do |photo| %>
        <%= content_tag(:div, :class => "photoSet") do -%>
          <%= content_tag(:div, photo.took_date, :class => "date") %>
          <%= image_tag(photo.content, :id => "", :alt => "") %>
            <%= form_for(Comment.new) do |f| %>
              <%= hidden_field_tag 'photo_id', photo.id %>
              <%= f.text_field("content", :class => "text_content") %>
              <%= f.submit("コメント", :class => "comment btn btn-#{photo.id}") %>
            <% end %>
          <% if @comments.any? %>
            <%= link_to image_tag("layouts/comment_icon.png", :class => "comment_icon", :alt => "comment_icon") %>
            <h3 class="comment_title">Comments</h3>
            <br class="clearfix">
            <ul class="users_comments">
              <%= render @comments %>
            </ul>
          <% end %>
        <% end -%>
      <% end %>
  <% end %>
<% end -%>
