<%= content_tag(:div, :class => "dashboard_wrapper") do -%>
  <% provide(:title, "ダッシュボード") %>
  <% if @photos.any? %>
    <%= content_tag(:div, :class => "photoSet") do -%>
      <% @photos.each do |photo| %>
        <%= content_tag(:div, :class => "date") do -%>
          <%= content_tag(:span, photo.took_date.strftime("%Y年%m月%d日"), :class => "date_this" ) %>
          <%= content_tag(:span, (Time.zone.now.day - photo.took_date.day).to_s + "日前", :class => "date_from" ) %>
        <% end -%>
        
        <%= link_to image_tag(photo.content, :id => "", :alt => "") %>
        <h3>
          <%= form_for(Comment.new) do |f| %>
            <%= hidden_field_tag 'photo_id', photo.id %>
            <%= f.text_field("content", :class => "text_content") %>
            <%= f.submit("コメント", :class => "comment btn btn-#{photo.id}") %>
          <% end %>
        </h3>
        <% if @comments.any? %>
          <ul class="users_comments">
            <%= render @comments %>
          </ul>
        <% end %>
      <% end %>
    <% end -%>
  <% end %>
<% end -%>
